<!DOCTYPE html>
<html>

<head>
  <title>Recipe</title>
</head>

<body>
<br>
<br>
<h1>{{recipeInfo.title}}</h1>
<ul>
    <li>Category: {{recipeInfo.category}} </li>
    <li>Link to original recipe: <a href="{{recipeInfo.link}}" target='_blank'>{{recipeInfo.link}}</a></li>
    <li>Notes: {{recipeInfo.notes}}</li>
</ul>
<br>
<h4>Ingredients</h4>
{{#each recipeIngredients}}
<ul>
  <li>{{ingredient_name}} : {{ingredient_quantity}}</li>
</ul>
{{/each}}



</body>
</html>