{{!-- {{#each ingredients}}
<ul>
    <li>{{this.name}}</li>
</ul>
{{/each}} --}}
<div class="jumbotron searchByIngredient">
  <div class="container main">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5 recipe-container">
        <form action="/searchByIngredient" method="POST">
          <select name="ingredient_id">
            {{#each ingredients}}
            <option value="{{id}}" {{#ifeq id @root.selectedIngredientId}} selected="selected" {{/ifeq}} >{{name}}</option>
            {{/each}}
          </select>
          <button class="btn" type="submit">Search</button>
        </form>
        <ul id='search_ingredient'>
          {{#each recipes}}
          <li><a href="/recipe/{{id}}" target="_blank">{{title}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>